:root {
  --font-size-small: 0.75rem;
  --font-size-medium: 0.875rem;
  --font-size-large: 1.25rem;
  --font-weight-light: 400;
  --font-weight-regular: 500;
  --color-light: #e5e7eb;
  --color-dark: #111827;
  --color-bg-dark: #675e5e;
  --color-dark-gray: #111827;
  --color-empty-link: #363636;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  color: #111827;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0 auto;
}
a {
  text-decoration: none;
}
header {
  text-align: left;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-color: var(--color-bg-dark);
  background-blend-mode: multiply;
  height: 208px;
  width: 100%;
  position: relative;
  padding: 1em;
  display: grid;
  place-items: center;
}

.top div {
  width: 100%;
  max-width: 550px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}

svg {
  color: var(--color-light);
}

h1 {
  font-weight: 800;
  font-size: 2rem;
  margin: 0;
}
header h1,
header a {
  color: var(--color-light);
}
header a {
  cursor: pointer;
  font-size: var(--font-size-medium);
}
header a:hover,
header a:focus {
  opacity: 0.7;
}

.search-bar {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -30;
  width: 90%;
  margin-inline: 1em;
}
.label,
#input {
  border: 1px solid var(--color-light);
}
.label {
  border-right: 0;
  border-radius: 5px 0 0 5px;
  padding: 0.5em;
  background-color: var(--color-dark);
}
#input {
  padding: 0.4em;
  width: 100%;
  max-width: 342px;
  border-left: 0;
}
#input:focus {
  outline: none;
}

.btn {
  color: var(--color-dark-gray);
  border: 0;
  cursor: pointer;
  background: none;
  display: flex;
  gap: 0.2em;
  align-items: center;
}

.btn:hover,
.btn:focus {
  opacity: 0.7;
}

#search-btn {
  background-color: var(--color-light);
  color: #374151;
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-medium);
  font-family: "Inter", sans-serif;
  border: none;
  padding: 0.5em 2em;
  border-radius: 0px 6px 6px 0px;
  cursor: pointer;
}

#search-btn:hover,
#search-btn:focus {
  background-color: #374151;
  color: var(--color-light);
}
main {
  margin-top: 2em;
}
.empty-text,
.empty-film-icon {
  color: #dfdddd;
}
.empty-text {
  font-weight: 700;
}
.empty-container {
  padding: 1em;
  display: grid;
  place-items: center;
  margin-top: 8em;
}
.empty-container-title {
  color: var(--color-light);
  margin: 0;
}
.watchlist-empty-text {
  color: var(--color-dark);
}
.empty-link {
  color: var(--color-empty-link);
  font-size: var(--font-size-medium);
}
.add-hover:hover {
  opacity: 0.7;
}
.container,
.rows {
  display: flex;
  gap: 1em;
  align-items: center;
}
.rows {
  width: 100%;
}
.container {
  max-width: 100%;
  min-height: 147px;
  width: 462px;
  padding: 1.5em;
  margin: 0 auto;
}
.container + .container {
  border-top: 1.5px solid #e5e7eb;
}

.column2 {
  width: 100%;
}

#poster img {
  width: 99px;
  height: 147px;
  object-fit: cover;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.movie-title {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-large);
  margin: 0;
}

.movie-rating,
.movie-runtime,
.movie-genre {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-light);
  color: var(--color-dark-gray);
}

.movie-plot {
  color: #6b7280;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-light);
  margin: 0;
}

.plus-icon,
.remove-icon {
  color: var(--color-dark);
}

@media (min-width: 650px) {
  html {
    font-size: 110%;
  }
  .container {
    width: 650px;
  }
}
